.new-expense__controls{
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    color: #fff;
    justify-content: space-between;
}

.new-expense-control{
    display: flex;
    flex-flow: column;
    line-height: 2rem;
    margin-inline: 2rem;
}

.input{
    flex: 1 1 10rem;
    padding: 0.3rem;
    max-height: 1.5rem;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-flow: row-reverse;
    margin-inline: 1rem;
    padding-top: 1rem;
}

.submit-button
.cancel-button{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #40005D;
    border: transparent;
    padding: 1rem;
    border-radius: 12px;
}