.new-expense{
    width: 50rem;
    max-width: 95%;
    background-color: #687194e4;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: center;
}

.add-button{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #40005D;
    border: transparent;
    padding: 1rem;
    border-radius: 12px;
}